<section id="maintain">
	<section>
		<div>
			<h2>상품목록</h2>
		</div>
		<% if(@maintain.length>0) %>
		<% @maintain.each do |maintain| %>
		<article class="maintain">
			<%=link_to maintain do %>
			<figure>
				<%=image_tag maintain.photo.medium_thumb %>
			</figure>
			<% end %>
			<h2><%=maintain.title %></h2>
		</article>
		<% end %>
		<% end %>
	</section>
	<div id="sl_bottom_menu">
		<% if user_signed_in? %>
		<% if current_user.admin? %>
		<%= link_to 'New Maintain', new_maintain_path %>
		<% end %>
		<% end %>
		<div class="flickr_pagination">
			<%= paginate @maintain %>
		</div>
	</div>
</section>