<%= form_for(@portfolio) do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>
      <ul>
      <% @portfolio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
		<%= f.label :title,'제목' %><br />
		<%= f.text_field :title, {:class=>'sl_input',:required=>'required'} %>
	</div>
	<div class="field">
		<%= f.label :company,'업체명' %><br />
		<%= f.text_field :company, {:class=>'sl_input',:required=>'required'} %>
	</div>
	<div class="field">
		<%= f.label :link,'URL' %><br />
		<%= f.url_field :link, {:class=>'sl_input',:required=>'required'} %>
	</div>
	<div class="field">
		<%= f.label :description,'설명' %><br />
		<%= f.text_field :description, {:class=>'sl_input',:required=>'required'} %>
	</div>	
	<div class="field">
		<%= f.label :photo,'사진' %><br />
		<%= f.file_field :photo %>
		<%= f.hidden_field :photo_cache %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
