<%= form_for ['customer_center',@guest_book],:html=>{:class=>'slboard_form'} do |f| %>
	<% if @guest_book.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@guest_book.errors.count, "error") %> prohibited this notice from being saved:</h2>
		<ul>
			<% @guest_book.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<% unless user_signed_in? %>
	<div class="control-group">
		<%= f.label :name %>
		<div class="controls">
			<%= f.text_field :name,{:class=>'sl_input',:required=>'required'} %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :passsword %>
		<div class="controls">
			<%= f.password_field :password,{:class=>'sl_input',:required=>'required'} %>
		</div>
	</div>
	<% end %>
	<div class="control-group">
		<%= f.label :title %>
		<div class="controls">
			<%= f.text_field :title,{:class=>'sl_input',:required=>'required'} %>
		</div>
	</div>
	<%= f.fields_for :guest_book_content do |c| %>
		<div class="control-group">
			<%= c.label :content %>
			<div class="controls">
				<%= c.text_area :content,{:class=>'sl_input',:required=>'required'} %>
			</div>
		</div>
	<% end %>
	<div class="control-group">
		<%=f.submit '제출' ,:class=>"btn btn-primary" %>
	</div>
<% end %>