<%= form_for ['customer_center',@notice],:html=>{:class=>'slboard_form row-fluid'} do |f| %>
	<% if @notice.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>
		<ul>
			<% @notice.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="control-group">
		<%= f.label :title,'제목 ' %>
		<div class="controls">
			<%= f.text_field :title,{'class'=>'sl_input','required'=>'required'} %>
		</div>
	</div>	
	<%= f.fields_for :notice_content do |c| %>
	<div class="control-group">
		<%= c.label :content,'내용' %>
		<div class="controls">		
			<%= c.text_area :content,{'id'=>'sl_content','class'=>'sl_input','required'=>'required'}  %>
		</div>
	</div>	
	<% end %>
	<div class="control-group">
		<%=f.submit '제출' ,:class=>"btn btn-primary" %>
	</div>
<% end %>
